<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
<body>
    <td style="background:#DEA5A4;">

    <div class = 'container'>
    <form method="POST">
        <div class="form-group text-center">
            <div class="input-group" style="margin:auto;">
                <h1> Semantic Textual Similarity (STS) </h1>

                <input style="margin-right: 16px"  type="text" name="text1" placeholder='Enter text 1'/>
                <input style="margin-right: 16px" type="text" name="text2" placeholder='Enter text 2' />
                <button class="btn btn-outline-primary" href="#">submit</button>        
                <h3>
                     Similarity of texts is {{ prediction }}
                </h3>    
            </div>
          </div>
        

    </form>
    </div>
</td>
</body>
</html>